<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8" />
    <title>Paradise Paw</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="/paradise-paw/public/assets/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>




<body>

    <nav>
        <ul>
            <li><strong>Paradise Paw</strong></li>
        </ul>
        <ul>
            <li><a href="#services">Our Services</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#contact">Contact us!</a></li>
            <li><a href="#" id="booking-btn" role="button" class="contrast" data-target="modal-example"
                    onClick="toggleModal(event)">Login</a></li>

        </ul>
   
            <!-- Slideshow container -->
            <div class="column-2">
                <div class="dogSlides-container">

                    <!-- Dog images for slideshow -->
                    <div class="dogSlide fade">
                        <!-- <div class="numbertext">1 / 5</div> -->
                        <img src="./assets/images/husky.jpg" style="width:100%">
                        <!-- <div class="text">husky</div> -->
                    </div>

                    <div class="dogSlide fade">
                        <!-- <div class="numbertext">2 / 5</div> -->
                        <img src="./assets/images/cute-under-bite.jpg" style="width:100%">
                        <!-- <div class="text">cute under bite</div> -->
                    </div>

                    <div class="dogSlide fade">
                        <!-- <div class="numbertext">3 / 5</div> -->
                        <img src="./assets/images/pomeranian.jpg" style="width:100%">
                        <!-- <div class="text">pomeranian</div> -->
                    </div>
                    <div class="dogSlide fade">
                        <!-- <div class="numbertext">4 / 5</div> -->
                        <img src="./assets/images/poodle.jpg" style="width:100%">
                        <!-- <div class="text">poodle</div> -->
                    </div>
                    <div class="dogSlide fade">
                        <!-- <div class="numbertext">5 / 5</div> -->
                        <img src="./assets/images/schnauzer.jpg" style="width:100%">
                        <!-- <div class="text">schnauzer</div> -->
                    </div>
                </div>

                <!-- slideshow end -->
                <!-- services start -->

                <div class="services-section">
                    <h2>Our Services</h2>
                    <div class="services-hero container">
                        <h3>Before</h3>
                        <img src="./assets/images/before.jpg" alt="">
                    </div>

                    <div id="services" class="container grid">
                        <div>
                            <h3>Bathing</h3>
                            <img src="./assets/images/bath.jpg" alt="">

                        </div>
                        <div>
                            <h3>blow drying</h3>
                            <img src="./assets/images/blow-dry.jpg" alt="">
                        </div>
                        <div>
                            <h3>Grooming</h3>
                            <img src="./assets/images/groomed.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <!-- services end -->


    <footer class="container">
        <div id="contact" class="grid contact-info">
            <div>
            <a href="tel:8015898924">Call us at (801)589-8924</a><br>
            <a href="https://www.facebook.com/Paradise-Paw-2025968040809183/" target="blank">or visit our facebook
                page!</a>
            </div>

        <p class="hours"> Hours: Sunday-Thursday 11am-6pm <br>
            Closed Friday and Saturday
        </p>
    </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./assets/js/script.js"></script>

</body>





</html>